<h1>Faturas</h1>
<hr/>
<div class="row  ">
<div class="col-md-4">
    <div class="card text-center" style="border-color: #2986cc;">
        <div class="card-header"  >
            Inter 
        </div>
        <div class="card-body" style="height: 400px;">
          <h2 class="card-title">Fatura em Aberto</h2>
          <label class="card-text" >R$ 543,00</label>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <a href="#" class="btn btn-info">Ver Fatura</a>
        </div>
        <div class="card-footer text-body-secondary" >
          Fecha em 3 dia(s)
        </div>
      </div>
</div>
    <div class="col-md-4">
        <div class="card text-center" style="border-color: #f3851a;">
            <div class="card-header">
                Santander
            </div>
            <div class="card-body" style="height: 400px;">
              <h2 class="card-title">Fatura Fechada</h2>
              <label >R$ 1543,00</label>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <a href="#" class="btn btn-warning"> Pagar Fatura</a>
            </div>
            <div class="card-footer text-body-secondary" >
              Vence em 3 dia(s)
            </div>
          </div>
    </div>
<div class="col-md-4">
    <div class="card text-center" style="border-color: #ba1d1d;">  
        <div class="card-header">
            NuBank
        </div>
        <div class="card-body" style="height: 400px;">
          <h2 class="card-title"> Fatura Vencida</h2>
          <label>R$ 3543,00</label>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <a href="#" class="btn btn-danger">Pagar Fatura</a>
        </div>
        <div class="card-footer text-body-secondary">
          Vencido a 3 dia(s)
        </div>
      </div>
</div>
</div>
<br>
<br>

