<div class="sidenav-header">
  <img [width]="profilePicSized()" [height]="profilePicSized()" src="">
  <div class="header-text" [class.hide-header-text]="sideNavoCollapsed()">
    <h2>Nome</h2>
    <p>Outra Info</p>
  </div>
  <mat-nav-list>
    <a mat-list-item *ngFor="let item of menuItems()" [routerLink]="item.route" routerLinkActive #rla="routerLinkActive" [activated]="rla.isActive">
      <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
      <span matListItemTitle *ngIf="!sideNavoCollapsed()">{{item.label}}</span>
    </a>
  </mat-nav-list>
</div>
