<h4>Usuário</h4>
<hr />
 IMAGEM CENTRALIZADA
<hr />
<form>
  <div class="row">
    <div class="col-md-6">
      <label for="staticEmail2" class="visually-hidden">Nome</label>
      <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Guilherme da Silva Marques">
    </div>
    <div class="col-md-6">
      <label for="staticEmail2" class="visually-hidden">Data Nascimento</label>
      <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="30/08/2002">
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <label for="staticEmail2" class="visually-hidden">Email</label>
      <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com">
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <label for="staticEmail2" class="visually-hidden">Endereço</label>
      <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Rua Almirante Barroso, 448 - Vila Bocaina, 09310-030">
    </div>
  </div>


</form>
